includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
    level: 7
    parallel:
        maximumNumberOfProcesses: 1
    tmpDir: storage/app/phpstan
